pandas==2.1.1
numpy==1.23.1
jupyter==1.0.0
statsmodels==0.13.2
scikit-learn==1.1.1
matplotlib==3.5.2
requests==2.28.1
openpyxl==3.0.10
groq==0.6.0
polygon-api-client==1.13.7
concurrent-futures==1.1.0
emoji==2.11.1
